name: sonar-check

on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  sonarcloud:
    name: SonarCloud
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Sonar properties configuration
        run: |
            touch sonar-project.properties
            echo sonar.projectKey=${{ secrets.SONARPROJECTKEY }} >> sonar-project.properties
            echo sonar.organization=${{ secrets.SONARORG }} >> sonar-project.properties
            echo sonar.exclusions=${{ secrets.EXCLUSIONS }} >> sonar-project.properties
      - name: SonarCloud Scan
        uses: SonarSource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.ACCESS_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
